:root{
    --green:rgb(47, 172, 102);
    --lightBlue:#1b8fcf;
}
header {
    background-color: #10101000;
    padding: 15px 0px;
    position: fixed;
    width: 100%;
    z-index: 999999;

}

header.rolagem{
    background-color: var(--lightBlue);
    transition: 0.5s;
}
header nav ul{
    list-style: none;
    text-align: center;

}

header nav ul li {
    display: inline;
}

.nav-item a {
    text-transform: none;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 2px 10px;
    display: inline-block;
}
header nav ul li a:hover {
    color: #b6dbf1;

}

.mobile-menu-icon {
    display: none;
}
.mobile-menu{
    display: none;
}

/* FIM MENU */

@media (max-width: 999px){
    body{
        overflow-x: hidden;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background-color: rgb(60, 59, 59);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        z-index: 2;
        transform: translateX(100%);
        
    }
    .logo{
        margin-left: 200px;
    }

    .nav-list li{
        margin-left: 0;
        opacity: 0;
        z-index: 3;
    }

    .nav-list.active{
        transform: translateX(0);
        z-index: 2;
    
    }

    .mobile-menu div{
        display: block;
    }
    
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
        
}

.mobile-menu .active .line1{
    transform: rotate(-45deg) translate(-8px,8px);
}

.mobile-menu .active .line2{
    opacity: 0;
}

.mobile-menu .active .line3{
    transform: rotate(45deg) translate(-5px,-7px);
}
}

@media screen and (max-width: 730px){
    .nav-bar{
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }
    .mobile-menu-icon{
        display: block;
    }
    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    };

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;

    }

    .mobile-menu .nav-item {
        display: block;
        padding: 1.2rem;
    }

    .open{
        display: block;
    }
}