/* Apresentacao Responsiva */
@media (max-width: 520px) {
    .slider{
        max-height: 250px;
    }
    .slides img{
        max-width: 520px;
        height: 100%;
        object-fit: cover;
    }
    .apresentacao {
        flex-direction: column;
        text-align: center;
    }
    .apresentacao p{
        text-align: left;
        padding: 0 10px;
    }

    .apresentacao .esquerda,
    .apresentacao .texto-direita {
        align-items: center;
        text-align: center;
    }

    .apresentacao h2 {
        font-size: 40px;
        margin-left: 0;
        margin-top: 15px;
    }

    .apresentacao img {
        max-width: 90%;
        margin-left: 0;
    }

    .apresentacao .texto-direita {
        padding: 10px;
        max-width: 100%;
    }
    .sobre {
        flex-direction: column;
        height: auto;
    }

    .sobre .imagem-paralax,
    .sobre .conteudo-paralax {
        flex: 1;
        width: 100%;
        height: auto;
    }

    .sobre article {
        height: auto;
        padding: 20px;
        
    }
    .sobre article h2{
        font-size: 35px;
    }
    .sobre article b {
        font-size: 40px;
    }
    #sobre4{
        height: 360px;
    }

    .cards {
        grid-template-columns: 1fr;
        width: 100%;
        align-items: center;
    }

    .card {
        max-width: 90%;
    }
    .timeline {
        flex-direction: column;
        
    }

    .timeline-item {
        max-width: 100%;
        margin: 20px 0; /* Adiciona espaçamento vertical em vez de horizontal */
    }

    .timeline::before {
        display: none; /* Oculta a linha horizontal em telas pequenas */
    }

    .timeline-date {
        flex: none;
        margin-bottom: 10px;
        font-size: 1.2rem;
    }

    .timeline-content {
        width: 100%;
    }
    
    .form-content input,
    textarea {
        width: 100%;
    }
    footer img {
        width: 60px;
    }
    footer{
        text-align: center;
    }
    footer p{
        padding: 8px;
    }
    #waurlsite img{
        width: 50px;
    }
}

@media (min-width: 521px) and (max-width: 768px) {
    .slider {
        height: 100vh;
    }
    .apresentacao {
        flex-direction: column;
        text-align: center;
    }

    .apresentacao .esquerda,
    .apresentacao .texto-direita {
        align-items: center;
        text-align: center;
    }

    .apresentacao h2 {
        font-size: 40px;
        margin-left: 0;
    }

    .apresentacao img {
        max-width: 90%;
        margin-left: 0;
    }

    .apresentacao .texto-direita {
        padding: 10px;
        max-width: 100%;
    }
    .sobre {
        flex-direction: column;
        height: auto;
    }

    .sobre .imagem-paralax,
    .sobre .conteudo-paralax {
        flex: 1;
        width: 100%;
        height: auto;
    }

    .sobre article {
        height: auto;
        padding: 20px;
        
    }
    .sobre article h2{
        font-size: 35px;
    }
    .sobre article b {
        font-size: 40px;
    }
    #sobre4{
        height: 360px;
    }

    .cards {
        grid-template-columns: 2fr;
        width: 98%;
        height: auto;
        margin: 5px;
        align-items: center;
    }

    .card {
        max-width: 90%;
    }
    .timeline {
        flex-direction: column;
        
    }

    .timeline-item {
        max-width: 100%;
        margin: 20px 0; /* Adiciona espaçamento vertical em vez de horizontal */
    }

    .timeline::before {
        display: none; /* Oculta a linha horizontal em telas pequenas */
    }

    .timeline-date {
        flex: none;
        margin-bottom: 10px;
        font-size: 1.2rem;
    }

    .timeline-content {
        width: 100%;
    }
    .form-content input,
    textarea {
        width: 100%;
    }
    footer img {
        width: 60px;
    }
    footer{
        text-align: center;
    }
    footer p{
        padding: 8px;
    }
    #waurlsite img{
        width: 50px;
    }
    
}

@media (min-width: 769px) and (max-width: 1024px) {
    .slider {
        height: 100vh;
    }
    .apresentacao {
        flex-direction: column;
        text-align: center;
    }

    .apresentacao .esquerda,
    .apresentacao .texto-direita {
        align-items: center;
        text-align: center;
    }

    .apresentacao h2 {
        font-size: 40px;
        margin-left: 0;
    }

    .apresentacao img {
        max-width: 90%;
        margin-left: 0;
    }

    .apresentacao .texto-direita {
        padding: 10px;
        max-width: 100%;
    }
    .sobre {
        flex-direction: column;
        height: auto;
    }

    .sobre .imagem-paralax,
    .sobre .conteudo-paralax {
        flex: 1;
        width: 100%;
        height: auto;
    }

    .sobre article {
        height: auto;
        padding: 20px;
        
    }
    .sobre article h2{
        font-size: 35px;
    }
    .sobre article b {
        font-size: 40px;
    }
    #sobre4{
        height: 360px;
    }

    .cards {
        grid-template-columns: 2fr;
        width: 98%;
        height: auto;
        margin: 5px;
        align-items: center;
    }

    .card {
        max-width: 90%;
    }
    .timeline {
        flex-direction: column;
        
    }

    .timeline-item {
        max-width: 100%;
        margin: 20px 0; /* Adiciona espaçamento vertical em vez de horizontal */
    }

    .timeline::before {
        display: none; /* Oculta a linha horizontal em telas pequenas */
    }

    .timeline-date {
        flex: none;
        margin-bottom: 10px;
        font-size: 1.2rem;
    }

    .timeline-content {
        width: 100%;
    }
    .form-content input,
    textarea {
        width: 100%;
    }
    footer img {
        width: 60px;
    }
    footer{
        text-align: center;
    }
}