@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --black : #101010;
    --darkGray: #191919;
    --lightWhite: #eeeeee;
    --lightYellow: #f7d154;
    --green:rgb(47, 172, 102);
    --lightBlue:#1b8fcf;
    --carmesin:#e94362;
}

*{
    margin: 0;
    padding: 0;
}
h2{font-family: 'Poppins', sans-serif;}
p{font-family: 'Poppins', sans-serif;}
section {
    width: 100%;
    height: auto;
}
a{
    font-family: 'Poppins';
    text-decoration: none; 
    text-transform: uppercase;
    
}
#banner {
    width: 100%; 
    height: 500px; 
    object-fit: cover;
    object-position: bottom;
    filter: brightness(0.7);
}
/*Apresentacao ============================================================*/
.apresentacao {
    display: flex; /* Flexbox para alinhar a parte esquerda (imagem + título) e direita (texto + botão) */
    justify-content: space-between; /* Cria espaço entre os dois blocos */
    align-items: center; /* Centraliza verticalmente */
    margin-bottom: 30px;
}

.apresentacao .esquerda {
    display: flex;
    flex-direction: column; /* Coloca o título e a imagem um abaixo do outro */
    align-items: flex-start; /* Alinha à esquerda */
}

.apresentacao h2 {
    font-size: 60px; 
    font-weight: 400; 
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px; 
    margin-top: 10vh;
    margin-left: 80px;
    color: var(--darkGray);
}

.apresentacao img {
    max-width: 70%; 
    height: auto; 
    margin-bottom: 20px; 
    margin-left: 80px;
}

.apresentacao .texto-direita {
    max-width: 600px; /* Limita o tamanho do conteúdo à direita */
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.apresentacao p {
    font-size: 15px; 
    color: #333; 
    margin-bottom: 10px;
   
}

.apresentacao a {
    padding: 10px; 
    font-size: 15px; 
    background-color: #fff; 
    border: 1px solid var(--green);
    border-radius: 8px;
    color: var(--green); 
    margin-top: 10px;
    width: 150px;
}

.apresentacao a:hover {
    background-color: var(--green);
    border: none; 
    color: var(--lightWhite); 
}



/*Sobre ================================================================*/
.container {
    width: 100%;
    height: auto; 
    overflow: hidden; 
}

.sobre {
    display: flex; /* Cria uma coluna para imagem e artigos */
    height: 100vh; /* Define a altura da seção para ocupar toda a tela */
    overflow: hidden; /* Esconde a parte que ultrapassa a altura */
}

.sobre .imagem-paralax {
    flex: 1; /* Metade da tela para a imagem */
    position: relative; /* Para o efeito de paralaxe */
    overflow: hidden; /* Para esconder qualquer parte da imagem que ultrapasse */
}

.sobre .imagem-paralax img {
    width: 100%;
    height: 100%; 
    object-fit: cover; /* Ajusta a imagem para cobrir toda a área */
    position: absolute; /* Para o efeito de paralaxe */
    top: 0;
    left: 0;
    z-index: -1; /* Coloca a imagem atrás do conteúdo */
}

.sobre .conteudo-paralax {
    flex: 1; /* Metade da tela para os artigos */ 
    overflow-y: scroll; /* Permite rolagem vertical */
    scrollbar-width: none; /* Para navegadores Firefox */
   
}

.sobre .conteudo-paralax::-webkit-scrollbar {
    display: none; /* Para navegadores WebKit (Chrome, Safari) */
}

.sobre article {
    background-color: #f5f5f5; /* Cor de fundo dos artigos */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    height: 500px; /* Altura fixa para os artigos */
    padding: 30px; /* Preenchimento nos artigos */
    color: #fff;
   
}

.sobre article h2 {
    font-size: 50px; 
    font-weight: 400; 
    margin-top: 15vh;
}
.sobre article p {
    font-size: 18px; 
    margin-top: 20px;
    padding-right: 20px;
}
.sobre article b{
    font-size: 55px;
    text-transform: uppercase;
}

#sobre1 {
    background-color: var(--lightBlue);
}

#sobre2 {
    background-color: var(--carmesin);
}

#sobre3 {
    background-color: var(--lightYellow);
}

#sobre4 {
    background-color: var(--green);

}
#sobre4 h2{
    margin-top: 28px;
}
#sobre4 a{
    color: var(--lightWhite);
    background-color: var(--lightBlue);
    padding: 9px;
    border-radius: 5px;
    margin-top: 10px;
}

/* Projetos ===================================================================*/
.projetos {
    text-align: center;
    margin-bottom: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 2fr));
    gap: 20px;
    justify-items: center;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease;
    width: 100%;
    max-width: 300px;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}
.projetos h2{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-align: left;
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 10vh;
}
.card h3 {
    font-size: 22px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    color: var(--green);
}

.card p {
    font-size: 16px;
    color: #666;
}

/*Footer =================================================================*/

footer {
    background-color: var(--darkGray);
    color: #272727;
    text-align: center;
    padding: 20px 0;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    
}
footer img {
    width: 70px;
    margin-top: 10px;
}

/* Animacoes*/

[data-anima]{
    opacity: 0;
    transition: .8s;
}

[data-anima="esquerda"]{
     transform: translate3d(-50px,0,0 );/*X Y Z*/
}

[data-anima="direita"]{
    transform: translate3d(50px,0,0);
}

[data-anima="centro"]{
    transform: translate3d(0,50px,0);
}

[data-anima].animacao{
    opacity: 1;
    transform: translate3d(0,0,0);
}