@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --black: #101010;
    --darkGray: #191919;
    --lightWhite: #eeeeee;
    --lightYellow: #f7d154;
    --green: rgb(47, 172, 102);
    --lightBlue: #1b8fcf;
    --carmesin: #e94362;
}

* {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Poppins', sans-serif;font-weight: 500;
}

p {
    font-family: 'Poppins', sans-serif;
}

section {
 
    height: auto;
}

a {
    font-family: 'Poppins';
    text-decoration: none;
    text-transform: uppercase;

}

.btn {
    font-size: 18px;
    text-align: left;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: var(--green);
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
    width: 220px;
    padding-left: 2px;
    border-radius: 8px;
  }
  
  .btn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: var(--green);
    transition: 0.5s ease;
  }
  
  .btn:hover {
    color: #1e1e2b;
    transition-delay: 0.5s;
  }
  
  .btn:hover::before {
    width: 100%;
  }
  
  .btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: var(--green);
    transition: 0.4s ease;
    z-index: -1;
    border-radius: 4px;
  }
  
  .btn:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
  }
  

/*Apresentacao ============================================================*/
.apresentacao {
    display: flex;
    /* Flexbox para alinhar a parte esquerda (imagem + título) e direita (texto + botão) */
    justify-content: space-between;
    /* Cria espaço entre os dois blocos */
    align-items: center;
    /* Centraliza verticalmente */
    margin-bottom: 30px;
}

.apresentacao .esquerda {
    display: flex;
    flex-direction: column;
    /* Coloca o título e a imagem um abaixo do outro */
    align-items: flex-start;
    /* Alinha à esquerda */
}

.apresentacao h2 {
    font-size: 52px;
    font-weight: 350;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    margin-top: 10vh;
    margin-left: 80px;
    color: var(--darkGray);
}

.apresentacao img {
    max-width: 70%;
    height: auto;
    margin-bottom: 20px;
    margin-left: 80px;
}

.apresentacao .texto-direita {
    max-width: 600px;
    /* Limita o tamanho do conteúdo à direita */
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.apresentacao p {
    font-size: 15px;
    color: #333;
    margin-bottom: 10px;

}

.apresentacao a {
    padding: 10px;
    font-size: 15px;
    color: var(--green);
    margin-top: 10px;
    width: 220px;
}

.apresentacao a:hover {
    color: var(--lightWhite);
}



/*Sobre ================================================================*/
.container {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.sobre {
    display: flex;
    /* Cria uma coluna para imagem e artigos */
    height: 100vh;
    /* Define a altura da seção para ocupar toda a tela */
    overflow: hidden;
    /* Esconde a parte que ultrapassa a altura */
}

.sobre .imagem-paralax {
    flex: 1;
    /* Metade da tela para a imagem */
    position: relative;
    /* Para o efeito de paralaxe */
    overflow: hidden;
    /* Para esconder qualquer parte da imagem que ultrapasse */
}

.sobre .imagem-paralax img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ajusta a imagem para cobrir toda a área */
    position: absolute;
    /* Para o efeito de paralaxe */
    top: 0;
    left: 0;
    z-index: -1;
    /* Coloca a imagem atrás do conteúdo */
}

.sobre .conteudo-paralax {
    flex: 1;
    /* Metade da tela para os artigos */
    overflow-y: scroll;
    /* Permite rolagem vertical */
    scrollbar-width: none;
    /* coloca o focus no conteudo */
    
    

}

.sobre .conteudo-paralax::-webkit-scrollbar {
    display: none;
    /* Para navegadores WebKit (Chrome, Safari) */
}

.sobre article {
    background-color: #f5f5f5;
    /* Cor de fundo dos artigos */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    height: 500px;
    /* Altura fixa para os artigos */
    padding: 30px;
    /* Preenchimento nos artigos */
    color: #fff;

}

.sobre article h2 {
    font-size: 50px;
    font-weight: 400;
    margin-top: 15vh;
}

.sobre article p {
    font-size: 18px;
    margin-top: 20px;
    padding-right: 20px;
}

.sobre article b {
    font-size: 55px;
    text-transform: uppercase;
}

#sobre1 {
    background-color: var(--lightBlue);
}

#sobre2 {
    background-color: var(--carmesin);
}

#sobre3 {
    background-color: var(--lightYellow);
}

#sobre4 {
    background-color: var(--green);

}

#sobre4 h2 {
    margin-top: 28px;
}

#sobre4 a {
    color: var(--lightWhite);
    background-color: var(--lightBlue);
    padding: 9px;
    border-radius: 5px;
    margin-top: 10px;
}
.timeline-section {
    background-color: #f5f5f5;
    text-align: center;
    padding: 40px 0;
    overflow-x: auto; /* Permite rolagem horizontal se necessário */
    white-space: nowrap; /* Impede quebra de linha */
}

.timeline-section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

/* Estilo para a Linha do Tempo Horizontal */
.timeline-section {
    background-color: #f5f5f5;
    text-align: center;
    padding: 40px 0;
    overflow-x: auto; /* Permite rolagem horizontal se necessário */
    white-space: normal; /* Permite quebra de linha */
}

.timeline-section h2 {
    font-size: 2rem;
   
}

/* Estilo para a Linha do Tempo Horizontal */
.timeline {
    display: flex;
    justify-content: center; /* Centraliza a linha do tempo */
    align-items: center;
    position: relative;
    
    flex-wrap: nowrap; /* Não permite quebra de linha */
    overflow-x: auto; /* Garante que não haja estouro horizontal */
}

.timeline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--lightBlue); /* Cor da linha principal */
    top: 50%;
    z-index: 1;
}

.timeline-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 40px; /* Espaçamento entre os itens */
    z-index: 2;
    width: 200px; /* Mantém o mesmo tamanho de cada item */
    padding-top: 30px;
    text-align: center;
    box-sizing: border-box; /* Inclui padding e borda no cálculo da largura */
    overflow: hidden; /* Evita que o conteúdo vaze */
    white-space: normal; /* Permite quebra de linha dentro dos itens */
}

.timeline-date {
    background-color: #007bff;
    color: white;
    padding: 8px 12px;
    border-radius: 20px;
    font-weight: bold;
}

.timeline-content {
    background-color: white;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 15px;
    width: 100%; /* Define largura total de cada item */
    height: 260px; /* Permite que a altura se ajuste ao conteúdo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    overflow: hidden; 

}

.timeline-content h3 {
    margin-top: 8px;
    color: #333;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.timeline-content p {
    padding: 10px;
    color: #666;
    font-size: 15px;
    text-align: left;
}

/* Projetos ===================================================================*/
.projetos {
    background-color: #f5f5f5;
    padding: 40px 20px;
}

.projetos h2 {
    text-align: center; /* Centraliza o título */
    margin-bottom: 20px; /* Espaçamento abaixo do título */
}

.cards {
    display: flex; /* Alinha os cards lado a lado */
    flex-wrap: wrap; /* Permite que os cards quebrem para a próxima linha */
    gap: 20px; /* Espaçamento entre os cards */
    justify-content: center; /* Centraliza os cards na linha */
}

.card {
    position: relative; /* Permite posicionamento absoluto da descrição */
    width: 300px; /* Largura dos cards */
    height: 200px; /* Altura dos cards */
    background: #fff;
    border-radius: 15px;
    overflow: hidden; /* Impede que a descrição vaze do card */
    cursor: pointer;
    transition: transform 0.3s; /* Transição suave ao hover */
}

.card img {
    width: 100%; /* Imagem ocupa toda a largura do card */
    height: 100%; /* Imagem ocupa toda a altura do card */
    object-fit: cover; /* Corta a imagem para preencher o card */
    border-radius: 15px 15px 0 0; /* Arredonda o topo do card */
}

.card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    box-shadow:  0 0 10px#1b8fcf; 
    background-color: #f1f1f1;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Mantém a animação do card */
.card:hover {
    transform: scale(1.05);
   
}

/* Exibe a descrição ao passar o mouse */
.card:hover .card__content {
    transform: rotateX(0deg);
}

.card__title {
    margin: 0;
    font-size: 24px;
    color: var(--lightBlue);
    font-weight: 700;
}

.card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
}

  
/* contato*/
#contato {
    margin-top: 5%;
    text-align: center;
    align-items: center;
}

.contato {
    background-color: var(--black);
}

#contato h1 {
    font-family: 'Poppins';
    font-size: 30px;
    color: var(--lightWhite);
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--darkGray);
}

.formulario p {
    font-weight: 40px;
    align-items: center;
    margin-left: auto;
    font-family: "Poppins",sans-serif;
}

.form-content {
    margin-bottom: 8px;
    padding-bottom: 18px;
    position: relative;
}

.form-content label {
    display: inline-block;
    margin-bottom: 4px;
}

.form-content input {
    display: inline-block;
    width: 30em;
    border-radius: 8px;
    padding: 8px;
    border: 1px solid #0b45b1;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0);
}

.form-content p {
    position: absolute;
    bottom: -8px;
    left: 0;
    visibility: hidden;
    font-family: "Poppins",sans-serif;
}

.campoForm {
    width: 40px;
}
h4{
    font-family: "Poppins",sans-serif;
}

.form-content.error input {
    border-color: #ff3b25;
}

.form-content.error p {
    color: #ff3b25;
    visibility: visible;
    font-size: 14px;
    text-align: center;
    margin-left: 10%;
}

textarea {
    padding: 10px;
    outline: none;
    border: 1px solid #0b45b1;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 8px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    transition: all 0.5s;
    width: 30em;
}

textarea:focus {
    border-color: #202c55;
    transition: all 0.5s;
}

.form-content input:focus {
    border-color: #202c55;
    transition: all 0.5s;
}

.c-button {
    color: #000;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
    padding: 5px;
    width: 120px;
    margin-bottom: 0.9em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
  }
  
  .c-button--gooey {
    color: var(--green);
    font-size: 15px;
    font-weight: lighter;
    font-family: "Poppins",sans-serif;
    background-color: #fff;
    text-transform: uppercase;
    border: 2px solid var(--green);
    border-radius: 8px;
    position: relative;
    transition: all 700ms ease;
  }
  
  .c-button--gooey .c-button__blobs {
    height: 100%;
    filter: url(#goo);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -3px;
    right: -1px;
    z-index: -1;
  }
  
  .c-button--gooey .c-button__blobs div {
    background-color: var(--green);
    width: 34%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    transform: scale(1.4) translateY(125%) translateZ(0);
    transition: all 700ms ease;
  }
  
  .c-button--gooey .c-button__blobs div:nth-child(1) {
    left: -5%;
  }
  
  .c-button--gooey .c-button__blobs div:nth-child(2) {
    left: 30%;
    transition-delay: 60ms;
  }
  
  .c-button--gooey .c-button__blobs div:nth-child(3) {
    left: 66%;
    transition-delay: 25ms;
  }
  
  .c-button--gooey:hover {
    color: #fff;
  }
  
  .c-button--gooey:hover .c-button__blobs div {
    transform: scale(1.4) translateY(0) translateZ(0);
  }
/*Footer =================================================================*/

footer {
    background-color: var(--darkGray);
    color: var(--lightWhite);
    text-align: center;
    padding: 20px 0;
    font-family: 'Poppins', sans-serif;
    color: #fff;

}

footer img {
    width: 70px;
    margin-top: 10px;
}
/* Animacoes*/

[data-anima] {
    opacity: 0;
    transition: .8s;
}

[data-anima="esquerda"] {
    transform: translate3d(-50px, 0, 0);
    /*X Y Z*/
}

[data-anima="direita"] {
    transform: translate3d(50px, 0, 0);
}

[data-anima="centro"] {
    transform: translate3d(0, 50px, 0);
}

[data-anima].animacao {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

/*Botao whatsapp ==========================================================================================================*/


#msg1 {
    right: 90px;
    visibility: hidden;
    background: #fff;
    color: #000;
    position: fixed;
    width: 100px;
    bottom: 55px;
    font-size: 12px;
    line-height: 13px;
    padding: 3px;
    border-radius: 1px;
    border: 1px solid #e2e2e2;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    padding: 4px;
    font-family: "Poppins",sans-serif;
}